@model IEnumerable<McMullenCodeReview.Models.PhotoModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Photos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
l            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Url)"><img/>
            </td>

        </tr>}
    </tbody>
</table>
