@model IEnumerable<McMullenCodeReview.Models.PhotoModel>

@{
    ViewData["Title"] = "Photos";
}

<h1>Photos</h1>

<table class="table ">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                l
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Url)"><img />
                </td>
            </tr>
        }
    </tbody>
</table>